body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper{
	display: flex;
    flex-direction: column;
	min-height: 100vh;
    max-height: 100vh;
}

.bball{
	height: 50px;
 	width: 50px;
}
.navbar{
	display: flex;
    font-size: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #CAEBF2;
    color: #A9A9A9;
    flex:15vh;
}

.container{
	flex: 85vh;
	display: flex;
	flex-direction: row;
	min-width: 100vw;
}

.sidebar-nav{
	background: #EFEFEF;
	flex: 15vw;
	display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0vh 0vw;
    padding: 2vh 2vw;
}

.content{
	color: #A9A9A9;
	flex: 85vw;
	display: flex;
    flex-direction:column;
    text-align: center;
}

.page-title{
    color: #A9A9A9;
    text-align: center;
    font-size: 1.5em;
    margin: 7vh 2vw;
}

.page-content{
    color: #A9A9A9;
    text-align: center;
    margin: 2vh 2vw;
}

.page-continue{
    color: #A9A9A9;
    text-align: center;
    
    /*width: 25%;
    margin-left: auto;
    margin-right: auto;*/
}
